@font-face{
  font-family: Saira;
  src: url(Saira.ttf);
}

body{
  margin: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}

.header {
  background-image: url(images/title_bar.png);
  height: 8vw;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftData {
  width: 20%;
  height: 50%;
  margin: 0 50px;
  position: relative;
}

.stats_title{
  content: url(images/stats_title.png);
  position: absolute;
  left: 10%;
  bottom: 90%;
  height: 30%;
  width: 80%;
}

.statsInfo {
  width: 50%;
  height: 10%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}


.attempts,
.accuracy,
.gamesPlayed {
  position: absolute;
  font-family: 'Saira';
  font-size: 2rem;
}

.attempts{
  top: 50%;
  left: 43%;
}

.accuracy {
  top: 50%;
  left: 37%;
}

.gamesPlayed{
  top: 56%;
  left: 40%;
}

.rightGame {
  width: 50%;
  height: 60%;
}

.row {
  display: flex;
  width: 100%;
  height: 25%;
  margin-top: 4%;
}

.card {
  height: 100%;
  width: 40%;
  position: relative;
  margin-left: 3%;
  margin-right: 2%;
}

.cardFace {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  background-position: center;
  border-radius: 10px;

}

.matchedCards{
  animation: flip 4s linear infinite;
}

@keyframes flip{
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(-1,1);
  }
  100% {
    transform: scale(1,1);
  }
}

.endModal {
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 25%;
  width: 964px;
  height: 380px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(images/modal_bg.png);
  background-position: center;
  background-size: cover;
}

.closeBtn {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 45%;
  cursor: pointer;
  background-color: azure;
  border: 1px solid black;
  border-radius: 4px;
}

.modalText {
  text-align: center;
  font-size: 30px;
}

.back {
  background-image: url(images/onepieceback.png);
}

.back:hover{
  transform: scale(1.2);
}

.brook {
  background-image: url(images/brook.png);
}

.chopper {
  background-image: url(images/chopper.png);
}

.franky {
  background-image: url(images/franky.png);
}

.luffy {
  background-image: url(images/luffy.png);
}

.nami{
  background-image: url(images/nami.png);
}

.robin {
  background-image: url(images/robin.png);
}

.sanji{
  background-image: url(images/sanji.png);
}

.usopp {
  background-image: url(images/usopp.png);
}

.zoro {
  background-image: url(images/zoro.png);
}

.found {
  background-image: url(images/found.png);
}

.attempt_bg {
  background-image: url(images/attempts.png);
  top: 15%;
  left: 25%;
}

.accr_bg{
  background-image: url(images/accuracy.png);
  top: 41%;
  left: 25%;
}

.played_bg{
  background-image: url(images/gp.png);
  top: 65%;
  left: 27%;
}

.hidden{
  display: none;
}

.noClick {
  pointer-events: none;
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 6px;
  border-radius: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-duration: 1s;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  animation-name: hvr-ripple-out;
}
